html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
}

.text {
  display: inline-block;
  max-width: 25em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  vertical-align: middle;
}

article {
  font-family: Lato, sans-serif;
  padding: 2.5em 1em;
  display: block;
  background-color: #f2f2f2;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .5em .75em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
}

.btn-ghost {
  background-color: #f2f2f2;
  color: #333;
  border: solid 3px #333;
}

.btn-ghost:hover {
  background-color: #666;
  color: #f2f2f2;
}

section {
  margin: 0;
}
